body {
    background: url('./dashboard.svg'); 
}

:root {
    --debugborder: unset;
    --debugborder: 1px solid red; 
    --debugborder2: 1px solid yellow; 
}

.movies-hero {
    border: var(--debugborder);
}

.movies-hero .movies-hero-detail {
    border: 1px solid blue; 
    color:white; 
    width: 500px; 
}

.movies-hero .movies-hero-detail h1 {
    font-size: 40px; 
    font-weight: bold;
}

.movies-hero .movies-hero-detail p {
    font-size: 16px; 
    line-height: 1.5;
}

.movies-hero .movies-hero-detail button {
    background: white; 
    
}