/* Reset */
* {
    margin: unset; 
    padding: unset; 
    font: unset; 
    box-sizing: border-box; 
}

:root {
    --debugborder: 1px solid red; 
}

header {
    /* Debugging */
    border: var(--debugborder);    
    display:flex; 
    justify-content: space-between; 
    align-items:center; 
}

header .logos {
    border: var(--debugborder);; 
}

header a {
     
} 

header ul {
    display: flex; 
}

