/* Reset */
* {
    margin: unset; 
    padding: unset; 
    font: unset; 
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: black;
    background-image: url('./background.png');
    background-size:cover;  
}

:root {
    /* --debugborder: unset; */
    --debugborder: 1px solid red; 
}

/* ============================== Header */
header {
    /* Debugging */
    border: var(--debugborder);    
    display:flex; 
    justify-content: space-between; 
    align-items:center; 
    height: 68px; 
    padding-left: 30px; 
    padding-right: 30px; 
}

header .logos {
    border: var(--debugborder);
    display:flex; 
    gap: 20px; 
}

header a {
     border: var(--debugborder);
     text-decoration: unset; 
     color:white; 
} 

header .logo {
    font-size: 25px; 
    font-weight:bold; 
    color: red; 
}

header ul {
    display: flex; 
    list-style-type:none;
    gap: 25px; 
    align-items:center;
}

header button {
    background-color: red;
    border: unset; 
    color:white; 
    padding: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    border-radius: 7px; 
}
/*  =============================== End Of Header */




/* Footer */
footer {
    color: white; 
    border: var(--debugborder); 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 50px; 
    /* RGBA -> (Opacity 0 - 1)  */
    background: rgba(0,0,0, 0.5); 
}

footer h1 {
    color: red; 
    font-size: 30px; 
    font-weight: bold; 
}
footer p {
    font-size: 
}

