/* Reset */
* {
    margin: unset; 
    padding: unset; 
    font: unset; 
    box-sizing: border-box; 
}

:root {
    --debugborder: unset;
    /* --debugborder: 1px solid red;  */
}

header {
    /* Debugging */
    border: var(--debugborder);    
    display:flex; 
    justify-content: space-between; 
    align-items:center; 
    height: 68px; 
    padding-left: 30px; 
    padding-right: 30px; 
}

header .logos {
    border: var(--debugborder);
    display:flex; 
    gap: 20px; 
}

header a {
     border: var(--debugborder);
     text-decoration: unset; 
} 

header .logo {
    font-size: 25px; 
}

header ul {
    display: flex; 
    list-style-type:none;
    gap: 25px; 
    align-items:center;
}

header button {
    background-color: red;
    border: unset; 
    color:white; 
    padding: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    border-radius: 7px; 
}

